.dashlogo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin:0;
    padding: 0;
   
}
.Sidebar {
    display: flex;
    flex-direction: column;
    position:relative;
    transition: all 300ms ease;
}

.SideBarLogo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;

}

.SideBarLogo>span>span{
    color: var(--pink);
}

/* menu */

.menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 38px 6px 18px;
    position: absolute;
    background-color: rgb(60, 55, 55);
    margin-top: -2px;
    position: absolute;
    left: -183px;
}
.side_icon{
    margin-right: 7px;
}
.active_side_bar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 38px 6px 18px;
    position: absolute;
    background-color: rgb(60, 55, 55);
    margin-top: -2px;
    position: absolute;
    left: 366 !important;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;  

}
.menuItem li a{
    color: rgb(60, 55, 55);   
    padding: 5px;
    text-decoration: none;
    color: white;
  }